
.body-overlay {
  position: fixed;
  background-color: #fbfbfb;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

body{
  text-align: center;
}

#nprogress {
  pointer-events: none;
  .bar {
    left: 0px;
    top: 0px;
    height: 3px;
    width: 100%;
    z-index: 2000;
    position: fixed;
    background-color: #2D3840;
  }
}